html{
    display: block;
    margin: 0;
}
#welcome-section{
    height: 100vh;
    display:block;
    text-align: center;
    background-color:blue;
    margin: 0;
    border: 0;
    column-span: all;
}
#navbar{
    position:fixed;
    top: 0;
    text-align: center;  
    display: block; 
    background: orange;
    list-style-type:none;
    margin: 0;
    width: 100%;

}
#projects{
    height: 100vh;
    display:block;
    text-align: center;
}

 @media only screen and (max-width:100px)
{
    nav ul{
        text-align: left;
    }

} 

.project-tile{
    background-color: green;
    display:block;
    height: 100vh;
}

#profile-link{
    background-color: red;
    display:block;
    height: 100vh;
    text-align: center;

}

.portfolio{
    border:1em;
    border-color: blueviolet;
}
body{
    margin: 0;
}

#contact{
    border: grey;
}