#welcome-section{
    height: 100vh;
    display:block;
    text-align: center;
    background:blue;
}
body{
    display:flexbox;
}
#navbar{
    position:fixed;
    top: 0em;
    text-align: right;  
    display: block; 
    /* z-index: 1; */
    background: orange;
    list-style-type:none;

}
#projects{
    height: 100vh;
    display:block;
    text-align: center;
}
@media only screen and (max-width:100px)
{
    nav ul{
        text-align: left;
    }

}

.project-tile{
    background-color: green;
    display:block;
    height: 100vh;
}

#profile-link{
    background-color: red;
    display:block;
    height: 100vh;
    text-align: center;

}

.portfolio{
    /* border:1em; */
    border-color: blueviolet;
}